<div class="overview-details-container p-4">
  <!-- Header -->
  <div class="mb-1  flex justify-between items-center">
    <h3 class="text-lg font-semibold user-name">Leaderboard</h3>
    <p class="text-sm text-gray-300">Top Players</p>
  </div>

  <!-- Leaderboard List -->
  <div>
    <div
      *ngFor="let player of players"
      class="player-item flex items-center justify-between mb-3 p-3 rounded-md"
      [ngClass]="player.isActive ? 'bg-active' : 'bg-inactive'"
    >
      <!-- Left: Avatar and Name -->
      <div class="flex items-center">
        <img
          [src]="player.avatar"
          alt="Avatar"
          class="user-avatar rounded-full mr-3"
        />
        <div>
          <h4 class="text-sm font-bold user-name">{{ player.name }}</h4>
          <p class="text-xs text-gray-400">Trades: {{ player.trades }}</p>
        </div>
      </div>

      <!-- Middle: Rank -->
      <div class="rank text-center">
        <p class="text-xs text-gray-300">Rank</p>
        <h4 class="text-orange font-bold">{{ player.rank }}</h4>
      </div>

      <!-- Right: Profit -->
      <div class="text-right">
        <p
          class="text-sm font-bold"
          [ngClass]="player.profit >= 0 ? 'text-green' : 'text-red'"
        >
          ${{ player.profit }}
        </p>
        <p class="text-xs text-gray-400">Profit</p>
      </div>
    </div>
  </div>
</div>
