<table>
    <thead>
      <tr>
        <th>Stock</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Change</th>
        <th>Total Value</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let holding of holdings" class="expandable-row" (click)="toggleDetails(holding)">
        <td>{{ holding.stock }}</td>
        <td>{{ holding.quantity }}</td>
        <td>{{ holding.price | currency }}</td>
        <td [ngClass]="{'positive': holding.change > 0, 'negative': holding.change < 0}">{{ holding.change | percent }}</td>
        <td>{{ holding.totalValue | currency }}</td>
      </tr>
      <tr class="details-row" *ngIf="holding.showDetails">
        <td colspan="5">
          <div class="expanded-info">
            <p>Purchase Date: {{ holding.purchaseDate }}</p>
            <p>Dividend Yield: {{ holding.dividendYield }}</p>
            <p>52-Week High: {{ holding.weekHigh }}</p>
          </div>
        </td>
      </tr>
      <!-- More rows can be added here -->
    </tbody>
  </table>
  