<div class="bg-white rounded-lg shadow  w-full flex flex-col " style="height: 304px ">
  <header class="bg-white shadow-sm border-b border-blue-100 rounded-t-2xl">
    <div
      class="max-w-7xl mx-auto  py-3 px-3  flex items-center justify-between"
    >
      <h1 class="text-sm font-bold text-blue-900">
        Trading Account
      </h1>
    </div>
  </header>

  <!-- Tab Bar Section -->
  <div class="flex justify-between py-0 px-3 bg-gray-50 rounded-t-md mt-4">
    <button
      class="px-4 py-2 text-sm font-medium text-gray-600 hover:text-white hover:bg-[#1E88E5] focus:outline-none focus:ring-2 focus:ring-[#1E88E5] rounded-md transition"
      (click)="selectTab('openTrades')" [class.active]="selectedTab === 'openTrades'">
      Open Trades
    </button>
    <button
      class="px-4 py-2 text-sm font-medium text-gray-600 hover:text-white hover:bg-[#1E88E5] focus:outline-none focus:ring-2 focus:ring-[#1E88E5] rounded-md transition"
      (click)="selectTab('closedTrades')" [class.active]="selectedTab === 'closedTrades'">
      Closed Trades
    </button>
    <button
      class="px-4 py-2 text-sm font-medium text-gray-600 hover:text-white hover:bg-[#1E88E5] focus:outline-none focus:ring-2 focus:ring-[#1E88E5] rounded-md transition"
      (click)="selectTab('allTrades')" [class.active]="selectedTab === 'allTrades'">
      All Trades
    </button>
  </div>

  <!-- Content Section (Table) -->
  <div class="pt-0 px-3 flex-grow overflow-x-auto">
    <table class="w-full max-w-full text-left border-collapse bg-white rounded-lg shadow-md">
      <thead class="bg-gray-100 border-b border-gray-300">
        <tr>
          <th class="px-6 py-3 text-xs font-medium text-gray-500 whitespace-nowrap">Symbol</th>
          <th class="px-6 py-3 text-xs font-medium text-gray-500 whitespace-nowrap">Type</th>
          <th class="px-6 py-3 text-xs font-medium text-gray-500 whitespace-nowrap">Amount</th>
          <th class="px-6 py-3 text-xs font-medium text-gray-500 whitespace-nowrap">Price</th>
          <th class="px-6 py-3 text-xs font-medium text-gray-500 whitespace-nowrap">Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of filteredTransactions; let i = index" [ngStyle]="getRowBackground(i)"
          class="border-b hover:bg-[#f0f7ff]">
          <td class="px-6 py-2 text-gray-700">{{ transaction.symbol }}</td>
          <td class="px-6 py-2 text-gray-700">{{ transaction.type }}</td>
          <td class="px-6 py-2 text-gray-700">{{ transaction.quantity * transaction.price }}</td>
          <td class="px-6 py-2 text-gray-700">{{ transaction.price }}</td>
          <td class="px-6 py-2 text-gray-700">{{ transaction.quantity }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>