<!-- Responsive Sidebar Component -->
    <div class="flex-col items-center  gap-4 bg-white bg-opacity-80 shadow-md rounded-3xl px-4 pt-2.5  pb-20 mb-2 mx-2 w-60 md:block hidden">
      <div class="mb-8 relative">
        <img class="w-full h-28 object-cover rounded-t-lg" alt="Background" src="images/SideHEader.png">
        <img class="w-20 h-20 absolute left-1/2 transform -translate-x-1/2 -bottom-10 rounded-full object-cover border-4 border-white" alt="Avatar" src="images/SidebarAvatar.png">
      </div>
      <div class="mt-12 text-center">
        <b class="block text-xl text-gray-800">Adela Parkson</b>
        <span class="block text-sm text-gray-500 uppercase mt-1">Welcome Back!</span>
      </div>
  
      <nav class="flex flex-col items-start gap-[7px] mt-4">
        <a href="#" class="flex h-[45px] justify-start items-center gap-2 w-full pl-2.5 pr-0 py-3 rounded-lg bg-blue-50 no-underline">
          <span class="material-icons text-blue-500 text-lg">home</span>
          <span class="text-blue-500 text-xl font-bold leading-6">Overview</span>
        </a>
        <a href="#" class="flex h-[45px] justify-start items-center gap-2 w-full pl-2.5 pr-0 py-3 rounded-lg hover:bg-gray-100 no-underline">
          <span class="material-icons text-gray-400 text-lg">explore</span>
          <span class="text-gray-400 text-xl font-semibold leading-6">Explore</span>
        </a>
        <a href="#" class="flex h-[45px] justify-start items-center gap-2 w-full pl-2.5 pr-0 py-3 rounded-lg hover:bg-gray-100 no-underline">
          <span class="material-icons text-gray-400 text-lg">account_balance_wallet</span>
          <span class="text-gray-400 text-l font-semibold leading-6">Portfolio</span>
        </a>
        
        <div class="mt-8 mb-4 text-sm font-semibold text-gray-400 uppercase w-full">Support</div>
        <a href="#" class="flex h-[45px] justify-start items-center gap-2 w-full pl-2.5 pr-0 py-3 rounded-lg hover:bg-gray-100 no-underline">
          <span class="material-icons text-gray-400 text-lg">settings</span>
          <span class="text-gray-400 text-xl font-semibold leading-6">Settings</span>
        </a>
        <a href="#" class="flex h-[45px] justify-start items-center gap-2 w-full pl-2.5 pr-0 py-3 rounded-lg hover:bg-gray-100 no-underline">
          <span class="material-icons text-gray-400 text-lg">group</span>
          <span class="text-gray-400 text-xl font-semibold leading-6">Community</span>
        </a>
        <a href="#" class="flex h-[45px] justify-start items-center gap-2 w-full pl-2.5 pr-0 py-3 rounded-lg hover:bg-gray-100 no-underline">
          <span class="material-icons text-gray-400 text-lg">help</span>
          <span class="text-gray-400 text-xl font-semibold leading-6">Help & Support</span>
        </a>
      </nav>
    </div>
