<div class="overview-details-container p-4">
  <!-- Header -->
  <div class="mb-3 flex justify-between items-center">
    <h3 class="text-xl font-bold text-gradient">News Feed</h3>
  </div>

  <!-- Filtered News Items -->
  <ng-container *ngIf="filteredNews$ | async as filteredNews; else loading">
    <div *ngFor="let news of filteredNews" class="news-item p-2 mb-2 glow-hover" (click)="openNewsDetails(news)">
      <img [src]="news.image" alt="News image" class="news-image" />
      <div class="news-content">
        <h4 class="text-base font-bold text-white">{{ news.headline }}</h4>
      </div>
    </div>
  </ng-container>

  <ng-template #loading>
    <p class="text-gray-500 text-center">Loading news...</p>
  </ng-template>
</div>