<div class="portfolio-transactions card">
    <h3>Recent Transactions</h3>
    <div class="transaction-filters">
        <button (click)="filterTransactions('1w')">1 Week</button>
        <button (click)="filterTransactions('1m')">1 Month</button>
        <button (click)="filterTransactions('3m')">3 Months</button>
    </div>
    <ul>
        <li *ngFor="let transaction of transactions">
            {{ transaction.action }} {{ transaction.quantity }} shares of {{ transaction.stock }} at ${{ transaction.price }} <span class="timestamp">{{ transaction.timestamp }}</span>
        </li>
    </ul>
</div>
