.asset-logo {
  background-color: #1e3a8a;
}

.text-green-600 {
  color: #10b981;
}

.text-red-600 {
  color: #ef4444;
}

.bg-blue-600:hover {
  background-color: #2563eb;
}

.bg-green-600:hover {
  background-color: #22c55e;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.widget-bar {
  display: none !important;
}
img {
  width: 150%;
  height: 150%;
  
  border-radius: 0%;
}
.loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
canvas {
  max-width: 100%;
  margin: 0 auto;
}
.fixed {
  position: fixed;
  z-index: 50; /* Ensure it is above other elements */
}

.bg-gray-800.bg-opacity-50 {
  background-color: rgba(31, 41, 55, 0.5); /* Adjust transparency */
}

.bg-white {
  z-index: 60; /* Ensure the content of the widget is above the backdrop */
}

.shadow-lg {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.loader {
  border: 4px solid rgba(0, 0, 0, 0.1); /* Light gray border */
  border-top-color: #2563eb; /* Blue border */
}

.bg-opacity-60 {
  background-color: rgba(31, 41, 55, 0.6); /* Semi-transparent gray */
}

.shadow-2xl {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.2),
    0px 4px 6px -2px rgba(0, 0, 0, 0.1);
}


