<div class="sidebar-container">
    <div class="profile-section">
      <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="Profile Image" class="profile-image" />
      <div class="profile-info">
        <h3 class="name">Adela Parkson</h3>
        <p class="role">Product Designer</p>
      </div>
    </div>
  
    <div class="navigation">
      <ul class="nav-links">
        <li class="nav-item">
          <i class="fas fa-home"></i>
          <span>Overview</span>
        </li>
        <li class="nav-item">
          <i class="fas fa-search"></i>
          <span>Discover</span>
        </li>
        <li class="nav-item">
          <i class="fas fa-briefcase"></i>
          <span>Portfolio</span>
        </li>
      </ul>
    </div>
  
    <div class="support-section">
      <ul class="support-links">
        <li class="support-item">
          <i class="fas fa-cog"></i>
          <span>Settings</span>
        </li>
        <li class="support-item">
          <i class="fas fa-users"></i>
          <span>Community</span>
        </li>
        <li class="support-item">
          <i class="fas fa-question-circle"></i>
          <span>Help & Support</span>
        </li>
      </ul>
    </div>
  </div>
  