<div class="min-h-screen flex flex-wrap">
  <!-- Left column -->
  <div class="w-full md:w-1/4 flex flex-col">
    <!-- Top left section -->
    <div class="p-2">
      <app-overviewdetails></app-overviewdetails>
    </div>
    <!-- Bottom left section -->
    <div class="flex-grow p-2">
      <app-cours></app-cours>
    </div>
  </div>

  <!-- Second column -->
  <div class="w-full md:w-1/4 flex flex-col">
    <!-- Top second section -->
    <div class="p-2">
      <app-news></app-news>
    </div>
    <!-- Bottom second section -->
    <div class="flex-grow p-2">
      <app-watchListoverview></app-watchListoverview>
    </div>
  </div>

  <!-- Right column -->
  <div class="w-full md:w-1/2 flex flex-col">
    <!-- Top right section -->
    <div class="p-2">
      <app-tradesoverview></app-tradesoverview>
    </div>
    <!-- Bottom right section -->
    <div class="p-2">
      <app-chart></app-chart>
    </div>
  </div>
</div>
